<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HTTPBaseAddress" value=""/>
    <add key="DB_LOG_PATH" value="C:\Users\Javier\Google Drive\Clarity\IISServices\LedorVador\db.log"/>
    <add key="SERVICE_LOG_PATH" value="C:\Users\Javier\Google Drive\Clarity\IISServices\LedorVador\service.log"/>
  <add key="LOGIN" value="desa"/>
  <add key="PASS" value="desa"/>
  </appSettings>
  
  
   <connectionStrings>
    <add name="db"
			 connectionString="
			 Data Source=cs04\sqlexpress;
			 Initial Catalog=ClarityHealth;
			 Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MyServiceTypeBehaviors" name="ClarityServices.LedorVador.LedorVadorFlowService">
        <endpoint address="" binding="basicHttpBinding" contract="ClarityServices.LedorVador.ILedorVadorFlowService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors" >
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>