<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>


  <appSettings>
    <add key="DB_LOG_PATH" value="C:\Users\Javier\Google Drive\Clarity\IISServices\LedorVador\db.log"/>
    <add key="SERVICE_LOG_PATH" value="C:\Users\Javier\Google Drive\Clarity\IISServices\LedorVador\service.log"/>
    <add key="LOGIN" value="desa"/>
  <add key="PASS" value="desa"/>
    
    <add key="login" value="desa"/>
    <add key="pass" value="pepe"/>
    <add key="EnpointAdress" value="http://jla-pc/ClarityServices/LedorVador/LedorVadorFlowService.svc" />
    
    <add key="HistClinica" value="123"/>
    <add key="RazonSocial" value="ZZZZEmpresa123"/>
    <add key="EmpresaID_Propia" value="1"/>
    <add key="Documento_ExternID" value="789456123"/>
    <add key="Establecimiento_Numero" value="0001"/>
    <add key="Documento_Numero" value="12312"/>
    <add key="Observacion" value="DSADASDAS"/>
    <add key="TipoServicioID" value="1077"/>
    <add key="TipoImpuestoID_IVA" value="3"/>
    <add key="Cantidad" value="4445"/>
    <add key="ImporteUnitario" value="12333"/>
  </appSettings>
  
  <connectionStrings>
    <add name="db"
    connectionString="&#xD;&#xA;			 Data Source=localhost;&#xD;&#xA;			 Initial Catalog=ClarityDB;&#xD;&#xA;			 Integrated Security=True;"



    providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILedorVadorFlowService" />
        <binding name="LVServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://app.smg.com.ar/PruebaWSNet/WSLedorVadorQTECH/LedorVadorFlowService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILedorVadorFlowService"
        contract="LVFWS.ILedorVadorFlowService" name="BasicHttpBinding_ILedorVadorFlowService" />
      <endpoint address="http://app.smg.com.ar/pruebawsnet/WSLedorVadorQTECH/LVService.asmx"
        binding="basicHttpBinding" bindingConfiguration="LVServiceSoap"
        contract="LVASMX_SMG01.LVServiceSoap" name="LVServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>